<!DOCTYPE html>
<html>
  <head>
    <title>Calendar</title>
    <link rel='stylesheet' href='/fullCalendar/fullcalendar.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js'></script>
    <script src='/fullCalendar/fullcalendar.js'></script>
    <script src='/javascripts/calendar.js'></script>
  </head>
    <body>
    <div id="calendar"></div>
    <script src='/javascripts/calendar.js'></script>

    </script>
  </body>
</html>
