<!DOCTYPE html>
<html>
  <head>
    <body>
    <% include ./partials/header %>


    <div id="calendar"></div>

    <script src='/javascripts/calendar.js'></script>
<link rel="stylesheet" type="text/css" href="http://csshake.surge.sh/csshake.min.css">


    <title>Calendar</title>
    <link rel='stylesheet' href='/fullCalendar/fullcalendar.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js'></script>
    <script src='/fullCalendar/fullcalendar.js'></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">


  </head>
  <body>
  <div class="shake-hard">
    <h1>Instructor Time Slots</h1></div>
    <div id='calendar'></div>
    <br>
  <div class='producer'>

    <body>
    <div id="calendar"></div>
    <script src='/javascripts/calendar.js'></script>


  </body>
</html>
