<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Kelly App</h1>
    <br>
  <div class=Instructor>
    <p> Instructor Login </p>
  </div>
    <br>
    <p>Splashpage goes here</p>
  </body>
</html>
