<!doctype html>
<html>
<head>
  <title>Google Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    /* TODO move this to stylesheet?*/
        body         { padding-top:80px; }
    </style>
</head>
<body>
  <a href="/users/login"><h1> Instructor Login </h1></a>
  <!-- TODO create link to login via local strategy -->
  <a href="/users/login"><h1> Producer Login </h1></a>
  <!-- TODO create link to login for producer -->
</body>
</html>
