<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Google Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    /* TODO move this to stylesheet?*/
        body         { padding-top:80px; }
    </style>
</head>
<body>
  <a href="/users/login2"><h1> Instructor Login </h1></a>
  <!-- TODO create link to login via local strategy -->
  <a href="/users/login"><h1> Producer Login </h1></a>
  <!-- TODO create link to login for producer -->
</body>
</html>
