<!DOCTYPE html>
<html>
<head>
  <title>Google Login</title>
</head>
<body>
  <h1> Instructor Login </h1>
  <link rel='stylesheet' href='/stylesheets/style.css' />
   <body>
    <div class="container">
       <div class="row">
        <h1 class="col-md-12">Hello</h1>
      </div>
    <div class="row"
      <h1></h1>
      <p></p>
    </div>
    <div class="row">
      <p class="col-md-12">Signup To use Kellie App</p>
    </div>
    <img src='/Images/google.png'>

    <div class="group">
      <label for="firstName">Firstname</label>
      <input type="text" class="form-control" id="name" placeholder="firstName">
    </div>
    <div class="group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="email">
    </div>
    <div class="group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="group">
      <label for="password-confirm">Confirm password</label>
      <input type="password" class="form-control" id="password-confirm" placeholder="Password Confirmation">
    </div>
    <button type="enter" class="btn btn-success" id="enter">Enter</button>
    <p><a href="https://accounts.google.com/SignUp?service=mail&hl=en_us&continue=http%3A%2F%2Fmail.google.com%2Fmail%2F%3Fpc%3Den-ha-na-us-bk&utm_campaign=en&utm_source=en-ha-na-us-bk&utm_medium=ha"><h1>Instructor Sign-up</h1></a></p>

</body>
</html>
