<!DOCTYPE html>
<html>
<head>
  <title>
   This the page where the producers will be able select the producers to email to


  </title>
  <link rel="/css/stylesheet.css" type="text/css" href="">
  <script src="/js/jsmain.js" type="text/javascript" charset="utf-8" async defer></script>
</head>


<body>
 This the page where the producers will be able select the producers to email to
<br>
<br>
        <% for(var i=0; i < instructors.length; i++) { %>
            <div class="col-sm-6 col-md-3 set-height">
                <li class="Instructor"><%= instructors[i].name %> - <%= instructors[i].email %></li>
                  <% }; %>




</body>


</html>
