<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/fullCalendar/fullcalendar.css' />

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js'></script>
    <script src='/fullCalendar/fullcalendar.js'></script>
    <script>$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
    dayClick: function() {
        alert('a day has been clicked!');
     }
  });


});</script>
  </head>
  <body>
    <div id='calendar'></div>
    <h1>whatever</h1>
    <br>
  <div class=Instructor>
    <p> Instructor Login </p>
  </div>
    <br>
    <p>Splashpage goes here</p>
  </body>
</html>
