<form action="/producerslogin" method="post">
  <div>
  <label>Username:</label>
  <input type="text" name="username"/><br/>
  </div>
  <div>
  <label>Password:</label>
  <input type="password" name="password"/>
  </div>
  <div>
  <input type="submit" value="Submit"/>
  </div>
    <a href="/users/Signup"> Sign up</a>
    <br>
    <a href="/calendar"> View Calendar </a>
</form>
