<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<h1> Instructors Login</h1>
<body>
    <form action="/users/login" method="post">
      <div>
      <label>Username:</label>
      <input type="text" name="username"/><br/>
      </div>
      <div>
      <label>Password:</label>
      <input type="password" name="password"/>
      </div>
      <div>
      <input type="submit" value="Submit"/>
      </div>
    </form>
</body>
</html>


<!-- WHen a person clicks on Instructor Login, redirect to users/login2. -->
